.parallax {
  /* The image used */
  background-image: url("../images/Nss.jpeg");
  ;
  /* Set a specific height */
  height: 100%; 



  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center;
  background-repeat: repeat-y;
  /*  background-size:cover;*/

}

.enroll-section {
  position: relative;
}

.enroll-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #d4c245b1;
  opacity: 0.6;
}

.enroll-section .container {
  position: relative;
  z-index: 1;
}

.enroll-section .section-title {
  margin-bottom: 40px;
}

.spad {
  padding-top: 90px;
  padding-bottom: 90px;
}
.htext{
  color: #731000;
  font-weight: 700;
}
.dtext{
  color: #350000;
  font-weight: 900;


}
