.contact-card{
   border-radius: 15px 50px!important;
   box-shadow: -3px 6px 6px 0px rgb(195 200 229);
   background-color: rgb(240, 232, 232)!important;
  
}
.cont-img{
   margin-top: -30px;
   border-radius: 50%;
   border: 2px solid black;
   height: auto;
   width: 150px;
   
}

 .heading-contact{

    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;

 } 

.cont-address{
   border-radius: 15px !important;
   box-shadow: -3px 6px 6px 0px rgb(195 200 229);
   background-color: rgb(240, 232, 232)!important;
}