.contact-card{
   border-radius: 15px 50px!important;
   box-shadow: 0px 2px 20px 0px rgb(0 0 0);
   background-color: rrgb(255 255 255)!important;
   border: 2px solid black;
  
}
.cont-img{
   margin-top: -30px;
   border-radius: 50%;
   border: 2px solid black;
   height: auto;
   width: 150px;
   
}

 .heading-contact{

    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;

 } 

.cont-address{
   border-radius: 15px !important;
   box-shadow: 0px 2px 20px 0px rgb(0 0 0);
   background-color: rrgb(255 255 255)!important;
   border: 2px solid black;
}