
.intro{
   font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introheading{
   font-size: 25px;
}

.headingshp{
  text-align:center ;
  padding-top:20px;  
  margin:auto;
  font-size: 2.4rem;
}

.background{
  background-color:white;
}
.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-block-end: 0%;
}
.images{
  width: 50%;
  opacity:1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.col-sm-4:hover .image{
  opacity: 0;
}

.col-sm-4:hover .middle {
  opacity: 1;
}
.col-sm-4:hover .background {
  background-color:#ffffff;
}
.text {
  font-family: 'Rye';
  font-size:25px;
  color:#e3bc10;
  font-weight: 600;  
  text-align:center;
  margin:auto;
}

