.footermain{
  background-color: #c2c7e5fc;
}

.footlogo{
  height: auto;
  width: 120px;

}
.footcol-1{
  margin: auto !important;
}

.footcol-2{
  margin: auto !important;
  

}
.footcol-21{
  list-style-type:none;
  
  
  
}
.footcol-22{
  list-style-type:none;
  
 
}



.footlinks li{
  margin-top: 10px;
  margin-bottom: 10px;
  color: black!important;
  
  
  list-style-type:none;
  
}
.footlinks li:hover{
  color: blue!important;
  
  
}
.footlinks:hover{
  text-decoration: none;
}
.tdstyle {
  line-height: 1 !important;
}
.trstyle {
  height: 42px !important;
  line-height: 1 !important;
}
.iframestyle {
  height: 75%;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}


.copyright{
  background-color:#123c69;;
  color:white;
  text-align:center
 }
 .developers{
   color: black;
  font-family:cursive;

 }
 .developers:hover{
   color: blue;
   text-decoration: none;
  font-family:cursive;
 }

.iconsfoot{
  font-size: 35px;
}

.iconsfoot a{
  margin: 3px;

}




