.nss{
    font-size: 3.3vw;
    font-family: 'Prata', serif;
    font-weight: 900;
}
.institute{
    font-size: 1.8vw;
    font-family: 'Prata', serif;
    font-weight: 900; 
}
.head-logo{
    height: auto;
    width: 11vw;
    border: 0 10px 0 10px;
    
}



/*media queries*/
 

  @media only screen and (max-width: 576px) {
    .nss{
        font-size: 3.3vw;
    
    }
    .institute{
        font-size: 1.9vw;
        line-height: 1.9vw;
    }
   .head-logo{
    height: auto;
    width: 12vw;

   }
  
   
  }