.navbar {
    background-color: #123c69;
    
    
}

.dropdown-menu {
background-color: #123c69;

box-shadow: 2px 3px 6px 1px black;
font-size: 1.2rem;
} 
.dropdown-item{
    color: white;
}
.nav-item {

padding-left: 10px;
padding-right: 10px;
font-size: 1.2rem;


}
.btn{
font-size: 1.2rem;
}
.nav-link{
    color: white !important;
}