    .pagename{
      font-size: 40px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }

    .about{
      box-shadow:2px 2px 20px 0px black;
      background:linear-gradient(54deg, #9164ff, #8bfff4);
      
    }
    .s-heading{
      
      text-align:center;
      font-size: 30px;
      font-weight:bold;
      color:white;
      
      


    }
    .t-heading{
      text-align:left;
      font-size: 20px;
      font-weight:bold;
      color:white;
      

    }
    .t-heading .text-m{
      text-align:left;

    }
    .text-m{
     color :black;
     font-weight: bold;
   }
