    .pagename{
      font-size: 40px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
    }

    .about{
      box-shadow:2px 8px 11px #d4d4d4 ;
      background-color: #fffff7;
      border-radius: 20px;
      border: 1px solid #cac8c8;
    }
    .s-heading{

      text-align:center;
      font-size: 30px;
      font-weight:bold;
      color:rgb(151, 43, 43);
    }
    .t-heading{
      text-align:left;
      font-size: 20px;
      font-weight:bold;
      color:rgb(151, 43, 43);
      

    }
    .t-heading .text-m{
      text-align:left;

    }
    .text-m{
     color :black;
     font-weight: 400;
   }

   .line_break {
    height: 1px;
    background-color: #E6E6E6;
    /*width: 66.0em;*/
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
  }
