.headingshp{
    font-size: 2.4rem;
}

.youtube-em{
       
    height: 15vw;
    width: 100%;

}

@media only screen and (max-width: 998px) {
.youtube-em{
       
    
    height: 30vw;
    width: 60vw;

}
}

@media only screen and (max-width: 576px) {
.youtube-em{
       
    
    height: auto;
    width: auto;

}
}

@media only screen and (max-width: 356px) {
.youtube-em{
       
    
    height: auto;
    width: 100%;

}
}