.event-mainhead{
    background-color:rgb(243, 115, 115);
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}


.img-head{
height: auto;
width: 80px;
}







.blog-card{
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    box-shadow: 7px 10px 15px rgb(0, 0, 0.274);
    line-height:  1.4;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    


}

.blog-card a{
    color:inherit;
}
.blog-card a:hover{
    color: rgba(0, 238, 255, 0.801);


}
.blog-card:hover .photo-blog{
     transform: scale(1.3) rotate(1deg);
}
.meta{
    position: relative;
    height: 200px;

}
.photo-blog{
    
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}
.details,
.details ul{
    margin: auto;
    padding: 0;
    list-style: none;


}
.details{
    position: absolute;
    top: 0;
    left:-100%;
    bottom: 0;
    margin: auto;
    transition: left .25s;
    background: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;

}


.details ul li{
    display: inline-block;

}
.author::before{
    margin-right: 10px;
    content: "";
}
.date::before{
   margin-right: 10px;
   content: "";
}

.description{
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.description h1{
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;

}

.description h2{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 5px;
    
}
.read-more{
    text-align: right;
}

.read-more a{
    color: rgb(50, 78, 205);
    display: inline-block;
    position: relative;
    
}

.read-more a::after{
    
    margin-left: -10px;
    opacity: 0;
    transition: margin-left 0.5s, opacity 0.5s;
}

.read-more a:hover::after{
    margin-left: 0.55px;
    opacity: 1;

}



.blog-card p{
    position: relative;
    margin: 1rem 0;

}

.blog-card p:first-of-type{
    margin-top: 1.25rem;
}

.blog-card p:first-of-type::before{
    content: "";
    position: absolute;
    height: 5px;
    background:rgb(59, 10, 192);
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details{
    left: 0%;
}
@media(min-width:640px){
    .blog-card{
        flex-direction: row;
       max-width: 700px;
    }
    .alt{
        flex-direction: row-reverse!important;
    }
    .meta{
        flex-basis: 40%;
        height: auto;
    }

    .description{
        flex-basis: 60%;
    }
    .description::before{
        transform: skewX(-3deg);
        content: "";
        background: white;
        width: 30px;
        position: absolute;
        left: -10;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

@media(min-width:740px){
    .blog-card{
        flex-direction: row;
       max-width: 900px;
    }
}




























