


 .heading-contact{
     background-color: lightblue;
     border-radius: 5px;
     margin-top: -40px;

 } 

 .effect-1{
     
     width: 100%;
     padding: 7px 0;
     border: 1px solid #ccc;
     border-radius: 10px;
     padding-left: 10px;
 }

 .head-conatact{
     font-size: 2vw!important;
 }