.headingshp{
    text-align:center ;
    padding-top:20px;  
    margin:auto;
    font-size: 2.4rem;
  }
  .background{
  background-color:white;

  }
  .image {
opacity: 1;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
display: block;
margin-left: auto;
margin-right: auto;
padding-block-end: 0%;
}
.images{
width: 50%;
opacity:1;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.col-sm-4:hover .image {
opacity: 0;
}

.col-sm-4:hover .middle {
opacity: 1;
}
.text {
background-image:linear-gradient(to bottom right,rgba(143, 140, 146, 0),rgba(143, 140, 146, 1 ))  ;

color:black;
font-size: 16px;
padding: 16px 32px;
border: solid  2px black;
}
