
   .foot-logo {
    width:60px;
   }
   .foot-heading{
     text-align:center ;
     padding-top:20px;  
     margin:auto;
   }
   .foot-icons
   {
  
            color:black;
           padding:10px;
               }
   .foot-button{
     margin-left:10px;
   padding-top: 5px;
     
     border-radius: 20px;
     background-color:white; 

border: 2px solid black;

   }
   .foot-quicklinks{
     color:black;
     font-size:18px ;

   }
