.nss{
    font-size: 3.6vw;
    line-height: 3vw;
}
.institute{
    font-size: 3vw;
    line-height: 2.5vw;
}
.head-logo{
    height: auto;
    width: 13vw;
    border: 0 10px 0 10px;
    
}



/*media queries*/
 

  @media only screen and (max-width: 576px) {
    .nss{
        font-size: 3.4vw;
        line-height: 2.2vw;
    }
    .institute{
        font-size: 2.7vw;
        line-height: 1.8vw;
    }
   .head-logo{
    height: auto;
    width: 13vw;

   }
  
   
  }