.navbar {
    background-color: #123c69;
    
}
.dropdown-menu {
background-color: rgb(182, 225, 253);
font-size: 1.2rem;
} 
.nav-item {

padding-left: 10px;
padding-right: 10px;
font-size: 1.2rem;
}
.btn{
font-size: 1.2rem;
}