

.pagename {
    background-color: peru;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;

}
.s-heading
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:peru;
    text-align: center;



}
.text-m{
    font-size: 15px;
    color:rgb(26, 26, 161);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.t-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:peru;
    text-align: center;



} 