.nss{
    font-size: 3.6vw;
 
}
.institute{
    font-size: 2vw;
    
}
.head-logo{
    height: auto;
    width: 11vw;
    border: 0 10px 0 10px;
    
}



/*media queries*/
 

  @media only screen and (max-width: 576px) {
    .nss{
        font-size: 4.1vw;
    
    }
    .institute{
        font-size: 2.4vw;
        line-height: 2vw;
    }
   .head-logo{
    height: auto;
    width: 12vw;

   }
  
   
  }