.card-img{
    border-radius: 150px;
}
.card-t-img{
    border-radius: 100px;
}



.pagename {
    background-color: peru;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;

}
.headingmssg {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration-line: underline;

}
.cont-mssg {
    border-radius: 1% ;
    padding: 10px;
    background-color: #ffb5558c;
    box-shadow: 10px 10px 10px black;
}



@media (max-width:760px){
.card-img{
    height: auto;
    width: 70%;

}
.card-title{
    text-align: center;
}
.card-t-img{
    height: auto;
    width: 70%;

}

}