

.pagename {
    background-color:#d9534f;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;

}
.s-heading
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d9534f;
    text-align: center;



}
.text-m{
    font-size: 15px;
    color:rgb(17, 17, 92);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.t-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d9534f;
    text-align: center;



} 