
.cardcontent{
 
  text-align:center;
  font-size: 20px ;
  color:grey ;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-img-i{
  width:100px;height:120px; padding-top:10px;margin:auto;
  border: 4px solid grey;
  border-radius: 30%;
  margin-top: 30px;
}
.img-p{
  width:60%;height:250px; padding-top:20px;margin: auto;border-radius:10px;margin-top: 30px ;
  border: 5px solid #555;
  border-radius: 25px;


}
.card-title{
  text-align:center;
  color:darkblue;
}
 

.heading-team{
    font-size: 40px;
    color:white;
    text-align:center;
   font-weight: bold;
   background-color: peru;
   
}
.subheading{
    font-size: 30px;
    color:peru;
    text-align:center;
   font-weight: bold;
   margin-top: 30px ;
 
}
.button-team {
    background-image:linear-gradient(to bottom right,rgba(143, 140, 146, 0),rgba(143, 140, 146, 1 ))  ;
    color:black;
  font-size: 15px;
  padding: 16px 16px;
  border: solid  2px black;
  border-radius:12px;
  margin:auto;
  margin-left: 5px;
  margin-top: 10px;
  width:120px;
  height:80px;
  

  
}
.vbutton{
    font-size:20px;
    color:peru;
    border:2px solid black;
    vertical-align:baseline;
    background-image:linear-gradient(to bottom right,rgba(219, 211, 211, 0.3)  ,rgba(219, 211, 211, 1)) ;
    padding: 16px 32px;
    
    border-radius:12px;
    
    margin: auto;

}

